 @import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Shantell+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgba(146, 199, 235, 0.925);
}

.cont1{
    color: rgb(0, 0, 0);
    font-family: 'Gloock', serif;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 5px 20px;
    margin: 0 10px 8px 10px;

}

ul{
    padding: 10px 30px;
    margin: 0;
    display: flex;
    gap: 18px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

ul li{
    color: rgb(7, 7, 6);
}
a{
    text-decoration: none;
    color: rgb(18, 126, 189);
}
h1{
    text-align: center;
    margin-top: 10px;
    
}
h2{
    text-align: center;
}
p{
    text-align: center;
}

    
h3{
    text-align: center;
}