 @import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Shantell+Sans:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     background-color: rgba(210, 232, 247, 0.925);
 }

 .cont1 {
     color: rgb(0, 0, 0);
     font-family: 'Gloock', serif;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     padding: 5px;
     margin: 0 20px;

 }

 ul {
     padding: 10px 30px;
     margin: 0;
     display: flex;
     gap: 18px;
     list-style: none;
     font-size: 20px;
     font-weight: bold;
 }

 ul li {
     color: rgb(7, 7, 6);
 }

 a {
     text-decoration: none;
     color: rgb(18, 126, 189);
 }

 h1 {
     text-align: center;
     margin-top: 10px;

 }

 .addheader1 {
     padding-bottom: 20px;
     font-size: 30px;
     color: black;

 }

 .formcont1 {
     background-color: rgba(0, 0, 10, 0.096);
     border-radius: 20px;
     padding-left: 30px;
     padding-right: 5px;
     margin-top: 20px;
     margin-left: 30px;
     margin-right: 50px;
     font-family: 'Gloock', serif;
     font-family: 'Shantell Sans', cursive;
     color: rgba(7, 7, 214, 0.644);
     font-weight: bolder;
 }

 .jina {
     color: brown;
     font-size: 25px;


 }

 .img1 {
     margin: 0;
     padding: 0;
     background-size: cover;
     width: 100%;
     height: auto;
     background-color: rgb(0, 0, 0), 0.5;
 }

 .homecontent {
     position: relative;
     width: 60%;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 10px;
     margin: 0 auto;
 }

 .homeinnercont {
     background-color: rgba(0, 0, 0, 0.623);
     margin-bottom: 120%;
     font-family: 'Oranienbaum', serif;
     color: white;
     border-radius: 10px;

 }

 .headtopic {
     color: white;
     gap: 2rem;
     font-size: 45px;
 }

 .P1 {
     color: wheat;
     font-size: 20px;
     font-weight: bold;
 }

 p {
     width: 70%;
     align-items: center;
     margin-left: 15%;
 }



 .aboutheader {
     justify-content: center;
     align-items: center;
     padding: 0 10px;
     margin-top: 120px;
     margin-bottom: 100px;

 }

 .abouth1 {
     color: rgba(2, 95, 201, 0.979);
     margin-bottom: 35px;
     font-family: 'Gloock', serif;
     font-size: 30px;

 }
.offer{
    font-size: small;
    font-size: 20px;
    font-family: 'Gloock', serif;
     font-family: 'Shantell Sans', cursive;
     color: rgb(73, 16, 2);
}
 

 .About {
     margin: 15%;
     width: 65%;
 }

 .cont3 {
    color: yellow;
    background-color: black;
    float: right;
    
}
.card{
    border: none;
    margin: 5px 10px 0px 40px;
}
.card-body{
    background-color: rgba(24, 109, 219, 0.658);
}
.card-title{
    color: rgb(255, 252, 252);
}