 @import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Shantell+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgba(146, 199, 235, 0.925);
}

.cont1{
    color: rgb(0, 0, 0);
    font-family: 'Gloock', serif;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 5px 20px;
    margin: 0 10px 8px 10px;

}

ul{
    padding: 10px 30px;
    margin: 0;
    display: flex;
    gap: 18px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

ul li{
    color: rgb(233, 218, 17);
}
a{
    text-decoration: none;
    color: rgb(18, 126, 189);
}

.formcont{
    background-color: rgba(0, 2, 0, 0.041);
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 90px;
    border-radius: 25px;
    color: brown;
    font-family: 'Gloock', serif;
    font-family: 'Shantell Sans', cursive;
    font-weight: bolder;

    
}
.addheader1{
    font-size: 25px;
    font-family: 'Gloock', serif;
    font-family: 'Shantell Sans', cursive;
    font-weight: bolder;
    padding-left: 30px;
}